.password-reset
  %h2 Change your password
  %p Your password has been reset. Choose a new password below.
  = simple_form_for @form, url: password_reset_path(@form.model) do |f|
    = f.input :password
    = f.input :password_confirmation
    = f.submit :submit
